parameters:
    bootstrapFiles:
      - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludes_analyse:
        - tests/bootstrap.php
        - src/Migrations
        - src/Tests/Behat
        - tests/Tests/Behat
